
<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-body ">
                <div class="row">
                    <div class="col-5 col-md-4">
                        <div class="icon-big text-center icon-warning">
                            <img src="/iconfreepik/brand-image_5486254.png" />
                        </div>
                    </div>
                    <div class="col-7 col-md-8">
                        <div class="numbers">
                            <p class="card-category">Toplam Araç Üreticisi</p>
                            <p class="card-title">@ViewBag.distinctCar<p>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-body ">
                <div class="row">
                    <div class="col-5 col-md-4">
                        <div class="icon-big text-center icon-warning">
                            <img src="/iconfreepik/new-car_4661976.png" />
                        </div>
                    </div>
                    <div class="col-7 col-md-8">
                        <div class="numbers">
                            <p class="card-category">İlk Üretim Yılı</p>
                            <p class="card-title">@ViewBag.oldcar<p>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-body ">
                <div class="row">
                    <div class="col-5 col-md-4">
                        <div class="icon-big text-center icon-warning">
                            <img src="/iconfreepik/car_7257611.png" />
                        </div>
                    </div>
                    <div class="col-7 col-md-8">
                        <div class="numbers">
                            <p class="card-category">Son Üretim Yılı</p>
                            <p class="card-title">@ViewBag.youngcar<p>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-body ">
                <div class="row">
                    <div class="col-5 col-md-4">
                        <div class="icon-big text-center icon-warning">
                            <img src="/iconfreepik/medal_207195.png" />
                        </div>
                    </div>
                    <div class="col-7 col-md-8">
                        <div class="numbers">
                            <p class="card-category">En Sevilen Marka</p>
                            <p class="card-title">@ViewBag.mostcar<p>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
        </div>
    </div>
</div>
